---
- name: Podman | Install by Distro
  ansible.builtin.include_tasks: 
    file: "{{ lookup('first_found', files) }}"
    apply:
      become: yes
  vars:
    files:
      - "install/{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version }}.yaml"
      - "install/{{ ansible_distribution | lower }}.yaml"
      - "install/{{ ansible_os_family | lower }}.yaml"

- name: "Podman | Sysctl | Unprivileged Port Start"
  ansible.builtin.include_role:
    name: linuxhq.sysctl
  vars:
    sysctl_d:
      - file: podman-port
        order: '00'
        settings:
          net.ipv4.ip_unprivileged_port_start: "{{ PODMAN_SYSTEMD_ALLOW_LOWEST_PORT }}"
  when: PODMAN_SYSTEMD_ALLOW_LOWEST_PORT is defined

- name: "Podman | Sysctl | Allow Unprivileged Ping"
  ansible.builtin.include_role:
    name: linuxhq.sysctl
  vars:
    sysctl_d:
      - file: podman-ping
        order: '00'
        settings:
          net.ipv4.ping_group_range: "0 4294967295"
  when: PODMAN_SYSTEMD_ALLOW_PING is defined

# Region cni.lock error
# https://github.com/containers/podman/issues/13402
# - name: "Fix for cni.lock error | https://github.com/containers/podman/issues/13402"
#   ansible.builtin.lineinfile:
#     dest: "/usr/share/containers/containers.conf"
#     regexp: "^network_config_dir"
#     line: '# network_config_dir = "/etc/cni/net.d"'
#   become: true
# endregion

- name: "Podman | User | Configuration"
  ansible.builtin.include_tasks: 
    file: "user.yaml"
  no_log: true
  vars:
    pm_user: "{{ podman.key }}"
  loop: "{{ PODMAN_SYSTEMD_DEPLOY | dict2items }}"
  loop_control:
    loop_var: podman