---
- name: "Podman | {{ pm_user }} | Systemd | Create Systemd directory"
  ansible.builtin.file:
    path: "{{ pm_systemd_path }}"
    state: directory
    mode: '0750'
    # recurse: yes
  when: pm_user != "root"

- name: "Podman | {{ pm_user }} | Systemd | Create container services"
  ansible.builtin.include_tasks: 
    file: "container.yaml"
    # apply:
    #   become_user: "{{ pm_user }}"
    #   become: yes
  vars:
    container_name: "{{ pm_container.key }}"
    container: "{{ pm_container.value }}"
    isPod: no
  when: pm_systemd.containers is defined
  loop: "{{ pm_systemd.containers | dict2items }}"
  loop_control:
    loop_var: pm_container

- name: "Podman | {{ pm_user }} | Systemd | Create pod services"
  ansible.builtin.include_tasks: 
    file: "pod.yaml"
  vars:
    pod: "{{ pm_pod.key }}"
    isPod: yes
  when:
    - pm_systemd.pods is defined
  loop: "{{ pm_systemd.pods | dict2items }}"
  loop_control:
    loop_var: pm_pod